<nav class="panel">
  <p class="panel-heading">Main Menu</p>
  <a class="panel-block" href="/entrance">Entrance Registration</a>
  <a class="panel-block" href="">Exit Registration</a>
</nav>

<nav class="panel">
  <p class="panel-heading">Auxiliary Options</p>
  <a class="panel-block" href="/parking_lots">Parking Lots</a>
  <a class="panel-block" href="/parking_spots">Parking Spots</a>
  <a class="panel-block" href="/vehicle_brands">Vehicle Brands</a>
  <a class="panel-block" href="/vehicle_models">Vehicle Models</a>
</nav>
