<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Document</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
<% @guests.each do |guest| %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.document %></td>
    </tr>
<% end %>
  </tbody>
</table>